.primary-btn {
    position: absolute;
    top: 90%;
    left: 7%;
    transform: translateY(-50%);
    padding: 22.4px 40px;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--primary-color-dark);
    color: white;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    gap: 11.2px;
}

.hero-btn:hover {
    background-color: #ffffff;
    color: black;
}

.hero-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoomOut 10s ease-out forwards;
}


@media (max-width: 768px) {
    .hero-container {
        height: 60vh;
    }

    .hero-image {
        height: 390px;
        width: 100%;
        object-fit: fill;
    }

    .primary-btn {

        top: 90%;
        left: 25%;
        transform: translate(-50%, -50%);
        padding: 15px 20px;
        font-size: 16px;
    }
}