h1 {
    font-weight: 600;
    word-spacing: 0.15em;
    letter-spacing: 0.15em;
    color: white;
    text-shadow: 1px 1px 3px black;
}

section {
    margin: 0;
    font-size: 3rem;
    scroll-behavior: smooth;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    transition: background-position 0.3s ease-in-out;
    background-color: white;
}

section:nth-child(1) .bg {
    background-size: contain;
    background-position: center top;
}

@media (max-width: 768px) {
    section {
        height: 30vh;
        margin: 0;
        padding: 0;
    }

    h1 {
        display: none;
    }

    .bg {
        background-attachment: scroll;
        background-size: contain;
        background-position: center center;

    }
}