@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #a22b2c;
  --primary-color-dark: #801f20;
  --primary-color-light: #c33738;

  --secondary-color: #3469b8;
  --secondary-color-dark: #2b54a0;
  --secondary-color-light: #4a7ec9;
}

body {

  font-family: "Poppins", sans-serif !important;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  /* color: var(--secondary-color-dark); */
}

/* .primary-btn {
  position: absolute;
  transform: translateY(-50%);
  padding: 22.4px 40px;
  font-size: 18px;
  font-weight: bold;
  background-color: var(--primary-color-dark);
  color: white;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  gap: 11.2px;
}

.primary-btn:hover {
  background-color: #ffffff;
  color: black;
} */


.header {
  background-color: var(--primary-color);
  color: white;
}